* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Pokemon Solid', sans-serif;
    text-align: center;
    background-color: #ffcb05;
}

header {
    margin: 10px;
}

.header img {
    width: 120px;
    margin-bottom: -20px;
}

header h1 {
    color: #3c5aa6;
}

header p {
    margin-top: 30px;
    margin-bottom: 20px;
}


.pokemon-list {
    background-color: #3c5aa6;
    border: 1px solid black;
    padding: 25px;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 30px;
    row-gap: 30px;
}

.pokemon-list:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.search {
    font-family: 'Pokemon Solid', sans-serif;
    background-color: #3c5aa6;
    border: none;
    border-radius: 10px;
    padding: 5px;
}

button {
    width: 30px;
    height: 30px;
    border-radius: 20px;
    margin-bottom: 5px;
    cursor: pointer;
    background: url('https://api.iconify.design/mdi/pokeball.svg?color=red') no-repeat center center / contain;
} 

button:hover{
    background: url('https://api.iconify.design/gg/pokemon.svg?color=blue') no-repeat center center / contain; ;
}

ul li {
    width: 150px;
    height: 285px;
    background-color: rgb(246, 246, 163);
    list-style: none;
    transform-style: preserve-3d;
    transition: all 0.7s ease;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image img {
    background: url('https://api.iconify.design/mdi/pokeball.svg?color=brown&rotate=180deg') no-repeat center center / contain;
    width: 150px;
    height: auto;
}

#team {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    border-radius: 10px;
}

.name {
    background-color: orange;
    font-size: 22px;
    text-align: center;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
}

.info-container {
    margin: 5px;
}

.info-container span {
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
}

.button-container {
    margin: 15px;
}

.delete {
    color: white;
    background-color: red;
    border: none;
    border-radius: 10px;
    padding: 5px;
    width: 75%;
    height: auto;
    cursor: pointer;
}

.delete:hover {
    opacity: 0.75;
}

/*Flip Card Feature*/


#poke1 {
    float: left;
    height: 150px;
    width: 160px;
}

#poke2 {
    float: right;
    height: 150px;
    width: 160px;
}

.yellow {
    background-color: yellow;
}
.lightblue {
    background-color: lightblue;
}
.blue {
    background-color: blue;
}
.purple {
    background-color: purple;
}
.brown {
    background-color: brown;
}
.pink {
    background-color: pink;
}
.orange {
    background-color: orange;
}
.green {
    background-color: green;
}
.gold {
    background-color: gold;
}
.white {
    background-color: white;
}
.grey {
    background-color: grey;
}


@media (min-width: 481px) and (max-width: 1024px){

}

@media (max-width: 480px){
    .pokemon-list{
        grid-auto-flow: column;
    }
}