* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Pokemon Solid', sans-serif;
    text-align: center;
    background-color: #ffcb05;
}

header {
    margin: 10px;
}

.header img {
    width: 120px;
    margin-bottom: -20px;
}

.header h1 {
    color: #3c5aa6;
    font-size: 30px;
}

header p {
    margin-top: 30px;
    margin-bottom: 20px;
}


.pokemon-list {
    background-color: #3c5aa6;
    border: 1px solid black;
    border-radius: 25px;
    width: 75%;
    padding: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    display: grid;
    grid-template-columns: repeat(auto-fill, 185px);
    justify-content: center;
    align-items: center;
    column-gap: 30px;
    row-gap: 30px;
}

.pokemon-list:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

#search-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search {
    font-family: 'Pokemon Solid', sans-serif;
    background-color: #3c5aa6;
    border: none;
    border-radius: 25px;
    font-size: 15px;
    width: 150px;
    height: 20px;
    padding: 10px;
    transition: width 0.25s;
}

.error {
    border: 2px solid red;
    padding: 8px;
    animation: shake 2.0s;
}

.search:focus {
    width: 175px;
    height: 20px;
}

.search-button {
    width: 30px;
    height: 30px;
    margin-left: 5px;
    border-radius: 20px;
    cursor: pointer;
    background: url('https://api.iconify.design/mdi/pokeball.svg?color=red') no-repeat center center / contain;
} 

.search-button:hover{
    background: url('https://api.iconify.design/gg/pokemon.svg?color=blue') no-repeat center center / contain;
}

.card {
    width: 185px;
    height: 285px;
    background-color: rgb(246, 246, 163);
    border-radius: 15px;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image img {
    background: url('https://api.iconify.design/mdi/pokeball.svg?color=brown&rotate=180deg') no-repeat center center / contain;
    width: 150px;
    height: auto;
}

#team {
    display: flex;
    justify-content: center;
    align-items: center;
}

.name {
    font-size: 22px;
    text-align: center;
    border-radius: 10px;
    margin: 10px 30px;
    padding: 5px;
}

.info-container {
    margin: 5px;
}

.info-container span {
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
}

.button-container {
    margin: 15px;
}

.delete {
    color: white;
    background-color: red;
    border: none;
    border-radius: 5px;
    padding: 5px;
    width: 75%;
    height: auto;
    cursor: pointer;
}

.delete:hover {
    opacity: 0.75;
}

#poke1 {
    position: static;
    float: left;
    height: 150px;
    width: 160px;
}

#poke2 {
    position: static;
    float: right;
    height: 150px;
    width: 160px;
}

footer p {
    padding: 10px;
}


.card:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

.empty:hover {
    animation: none;
}

@keyframes shake {
        0% { transform: rotate(0deg); }
        25% { transform: rotate(5deg); }
        50% { transform: rotate(0eg); }
        75% { transform: rotate(-5deg); }
        100% { transform: rotate(0deg); }
}


.bug {
    background-image: linear-gradient(to bottom right, yellowgreen, #739a26);
}

.dark {
    background-image: linear-gradient(to bottom right, dimgrey, #838383);
}

.dragon {
    background-image: linear-gradient(to bottom right, mediumpurple, #6f50a1);
}

.electric {
    background-image: linear-gradient(to bottom right, yellow, #c4c401);
}

.fairy {
    background-image: linear-gradient(to bottom right, pink, #ad828e);
}

.fighting {
    background-image: linear-gradient(to bottom right, brown, #6c1b1b);
}

.fire {
    background-image: linear-gradient(to bottom right, orangered, #b03200);
}

.flying {
    background-image: linear-gradient(to bottom right, #a587d2, #8072ab);
}

.ghost {
    background-image: linear-gradient(to bottom right, #7d5db6, #664993);
}

.grass {
    background-image: linear-gradient(to bottom right, lawngreen, #499800);
}

.ground {
    background-image: linear-gradient(to bottom right, goldenrod, #9b7910);
}

.ice {
    background-image: linear-gradient(to bottom right, lightblue, #739096);
}

.normal {
    background-image: linear-gradient(to bottom right, palegoldenrod, #a29c73);
}

.poison {
    background-image: linear-gradient(to bottom right, #7d5bc7, #63358d);
}

.psychic {
    background-image: linear-gradient(to bottom right, deeppink, #910a53);
}

.rock {
    background-image: linear-gradient(to bottom right, darkgoldenrod, #7c5805);
}

.steel {
    background-image: linear-gradient(to bottom right, silver, #707070);
}

.water {
    background-image: linear-gradient(to bottom right, deepskyblue, #0083c2);
}
